.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    h3:first-child{
        margin-top: $med;
        margin-bottom: $big;
    }
    @media screen and (min-device-width: 800px) {
        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}