.container {
  text-align: center;
  margin: auto;
  h3 {
    margin-top: $med;
    margin-bottom: $med;
  }
  @media screen and (min-device-width: 1200px) {
    .row {
      display: flex;
      justify-content: space-between;
   
    }
  }
}
